<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>
<section class="function container-fluid">
  <div class="row">
  <h1>大課題2のinstagramっぽいアプリ</h1>
  <p>大課題2のために作られた写真投稿するためのアプリのトップページです</p>
      <img src="<%= asset_path "" %>" class="img-responsive center-block">
  </div>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
</section>
